# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: windows-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'


#- task: AzureCLI@2
#  inputs:
#    azureSubscription: 'AvevaTest'
#    scriptType: 'bash'
#    scriptLocation: 'scriptPath'
#    scriptPath: 'imagebuild.sh'
    

- task: AzureImageBuilderTask@1
  inputs:
    managedIdentity: '/subscriptions/6dfd2d67-7df5-4127-80af-53303bce829c/resourceGroups/sample-res-grp/providers/Microsoft.ManagedIdentity/userAssignedIdentities/aibBuiUserId1629195141'
    imageSource: 'marketplace'
    baseImage: 'MicrosoftWindowsServer:WindowsServer:2016-Datacenter'
    provisioner: 'powershell'
    storageAccountName: 'storageaccountappse998e'
    imageIdForDistribute: 'mycustomimage-managed'
    managedImageLocation: 'East US'
    ibSubscription: 'AvevaTest'
    ibAzureResourceGroup: 'sample-res-grp'
    ibLocation: 'westus'